<script type="text/javascript">
  window.monSeedData = <%= @mons %>
</script>

<div id='mother' class='container'>
</div>
<section id="abt" class="about">
  <div class='container'>
  <header><h1>Why does this exist?</h1></header>
  <p>Playing a Pokemon game? Haven't memorized the type combinations, weaknesses, resistances and immunities of all seven-hundred-and-whatever of the dudes? Want a place to quickly look up this information? Well, there's probably hundreds of places online where you can do just that.</p>
  <p>This is one of them.</p>
  <div class='me'><img src='https://en.gravatar.com/userimage/51643547/98c26360a2f82f88284b38e5771bba9d.jpg?size=100'><p>Oh yeah, who am I exactly? I&#39;m Daniel Uebelein. This is my face. Sometimes I tweet <a href='https://twitter.com/Danueb'>here</a> but usually I&#39;m not doing that.</p></div>
  </div>
</section>
<section id="prototype-info" class="bg-info container">
  <p>This is an unfinished prototype and proof of concept. Only the first 15 pokemon are represented. Only type and type-matchup data is shown.</p>

  <p>To try it out, start typing <b>Bulbasaur</b> in the search bar above (or any other of the first 15 pokemon, if you know them, ya nerd). Once you've opened the view for a pokemon, you can use the arrow keys on your keyboard to quickly switch between the pokemon before and after it on the list.</p>
</section>