<header class="top-nav">
  <div class="nav-head buttonify"><h1><img src="http://niconicodouglas.com/d/sudo.png" /><span>monCheck<span></h1></div>
  <div class="nav-option list">chart</div>
  <div class="nav-option about">huh?</div>
</header>
<div class="container">
  <div class="main">
   <section class="search">
    <div class="container">
      <input class="searchbox" type="text" placeholder="Pokemon Name" autocomplete="off" spellcheck="false" dir="auto">
    </div>
   </section>
   <section class="mon">
    <div class='container content-grass'>
      <header>
      <div class='mon-sprite gen1' style='background-position: 0px 0px;'></div>
        <h1>Bulbasaur</h1>
        <div class='type1 grass'>grass</div><div class='type2 poison'>poison</div>
      </header>
      <div class='type-effectiveness'>
        <div class='weakx4'>
          <h2>4x Weakness</h2>
          <p>(none)</p>
        </div>
        <div class='weakx2'>
          <h2>2x Weakness</h2>
          <div class='type-sm flying'>flying</div>
          <div class='type-sm fire'>fire</div>
          <div class='type-sm psychic'>psychic</div>
          <div class='type-sm ice'>ice</div>
        </div>
        <div class='normal-damage'>
          <h2>Normal Damage</h2>
          <div class='type-sm normal'>normal</div>
          <div class='type-sm poison'>poison</div>
          <div class='type-sm ground'>ground</div>
          <div class='type-sm rock'>rock</div>
          <div class='type-sm bug'>bug</div>
          <div class='type-sm ghost'>ghost</div>
          <div class='type-sm steel'>steel</div>
          <div class='type-sm dragon'>dragon</div>
          <div class='type-sm dark'>dark</div>
        </div>
        <div class='resistx2'>
          <h2>2x Resistance</h2>
          <div class='type-sm fighting'>fighting</div>
          <div class='type-sm water'>water</div>
          <div class='type-sm electric'>electric</div>
          <div class='type-sm fairy'>fairy</div>
        </div>
        <div class='resistx4'>
          <h2>4x Resistance</h2>
          <div class='type-sm grass'>grass</div>
        </div>
        <div class='immune'>
          <h2>Immunity</h2>
          <p>(none)</p>
        </div>
      </div>
    </div>
   </section>
  </div>
</div>